@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;  
} 
.navegador{
   background-color: aqua;
   top: 0;
   height: 100px;
   width: 100%;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navegador .icono{
    margin: 10px;
}
.navegador ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.navegador .menu{
    display: none;
}
.navegador ul li a{
    color: blueviolet;
    list-style: none;
    display: block;
    padding: 10px 10px;
}
.carrousel{
    width: 100%;
    height:500px;
    background-color:violet;
    margin-top: 30px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(237, 185, 221);

}
.producto{
    width: 318px;
    border: 2px solid violet;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(185, 147, 219);
}
.producto__img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.boton{
    background-color: rgb(206, 160, 249);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 15px;
}
@media(max-with){
    .carousel-item img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}
.piePagina{
    background-color: rgb(215, 236, 250);
    color: rgb(92, 7, 92);
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    column-gap: 15px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
.piePagina .info .mapa{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 40px;
}
.piePagina .redes{
   font-size: 32px;
   margin: 10px;
}
@media(max-with:1200px){
    .navegador{
       position: static;
       
     }
     .carrousel{
        margin-top: 0px;
    }
    .piePagina{
        background-color: blueviolet;
        grid-template-columns: 1fr 1fr;
    }
    .piePagina .redes{
        grid-column: 1/3;
    }
}
@media(max-with:576px){
    .navegador .menu{
        display: block;
        color: white;
        font-size: 30px;
        margin: 10px;
        order: -1;
    }
    .navegador ul{
        display: none;
    }
}
@media(max-with:768px){
    .piePagina{
        background-color: blueviolet;
        grid-template-columns: 1fr;
    }
    .piePagina .redes{
        grid-column: auto;
    }
}

.galeria{
    margin-top: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(3,200px) ;
    gap: 10px;
    grid-template-areas: "img1 img1 img2 img2"
                         "img1 img1 img3 img4"
                         "img5 img6 img3 img7";
              
} 
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.formulario{
    width: 768px;
    font-size: 18px;
    margin: 30px auto;
    border-radius: 5px;
    color: white;
    padding: 30px;
    background-color: rgb(177, 119, 232);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}
.formulario .input{
    width: 260px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}
.formulario .input:focus{
    border:none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}
.formulario .input-terminos{
    grid-column: 2 span;
    text-align: left;
}
.formulario button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color:  violet;

}
@media(min-width:576px){
    .formulario{
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      align-items: center;
        }
    .dato .nombre{
        grid-column: 1/3;
    }
    .dato.apellido{
        grid-column: 3/5;
    }
    .dato.tel{
        grid-column: 1/2; 
    }
    .dato.mail{
        grid-column: 2/4; 
    }
    .dato.terminos{
        grid-column: 1/3;
    }
}
@media(max-width:768px){
    .formulario{
        width: auto;
        border-radius: 0px;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .formulario div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .formulario .input-terminos{
        grid-column: auto;
        text-align: left;
        flex-direction: row;
    }
    .formulario .input{
        width: auto;
    }
}
