.galeria{
    margin-top: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(3,200px) ;
    gap: 10px;
    grid-template-areas: "img1 img1 img2 img2"
                         "img1 img1 img3 img4"
                         "img5 img6 img3 img7";
              
} 